/**################################
 * ##  Website Less Definitions  ## 
 * ################################
 */

/**
 * Toolkit.less default Definitions
 */

/* Colors */
@ColorBlack: #000000;
@ColorWhite: #FFFFFF;
@ColorLink: blue;
@BackgroundColor: #cccccc;


/* Fonts Style */

@FontStyle: normal;
@TextTransform: none;
@FontWeight: normal;

@ResponsiveFontSize: 16;
@ResponsiveLineHeight: 16;

@AdaptiveFontSize: 16px;
@AdaptiveLineHeight: 100%;


/* Box and etc defaults styles */

@BoxRoundedRaduis: 5px;
@BoxSizingType: border-box;
@BoxShadowInsetColor: #ccc;
@BackgroundClipType: padding-box;
@GradientStartColor: #ccc;
@GradientEndColor: #fff;
@Opacity: 0.5;
@RotationDeg: 5deg;
@ScaleRatio: 1.5;
@TransitionDuration: 0.2s;
@TransitionEase: ease-out;


/**
 * Semantic.less Website Grid Definition
 */

/* Defaults which you can freely override */
@column-width: 60;
@gutter-width: 20;
@columns: 12;


// Utility variable � you should never need to modify this
@gridsystem-width: (@column-width*@columns) + (@gutter-width*@columns) * 1px;

/**
 *   Apdaptivw layout
 */
//@total-width: @gridsystem-width;

/**
 *   Responsive layout
 */
@total-width: 100%;
