<f:layout name="MainLayout" />

<f:section name="content">

<div class="row-fluid">

	<div class="span3">
	
		<div class="row-fluid">			
			<div class="span12 well">
				<f:format.raw>{Content_1}</f:format.raw>
			</div>
		</div>
		
		<div class="row-fluid">
			<div class="span12 well">
				<f:format.raw>{Content_3}</f:format.raw>
			</div>
		</div>
		
		<div class="row-fluid">
			<div class="span12 well">

				<h3><f:format.htmlspecialchars>{PageTitle}</f:format.htmlspecialchars></h3>

				<div class="row-fluid">
					<div class="rootline"><f:format.raw>{Breadcrumb}</f:format.raw></div>
				</div>
				
			</div>
		</div>
		
	</div>
	
	
	<div class="span6">
		<f:format.raw>{Content_0}</f:format.raw>
	</div>
	
	
	<div class="span3">
	
		<div class="row-fluid">			
			<div class="span12 well">
				<f:format.raw>{Content_2}</f:format.raw>
			</div>
		</div>
		
		<div class="row-fluid">			
			<div class="span12 well">
				<f:format.raw>{Content_5}</f:format.raw>
			</div>
		</div>
		
	</div>	
		
</div>

</f:section>