<section id="Foot">
    <div class="Column2">
        <div class="One">
            <a href="https://github.com/Milanowicz" target="_blank" title="GitHub Website" class="GitHub">
            </a>
        </div>
        <div class="Two">
            <ul>
                <li>
                    <a href="#Disclaimer" class="Disclaimer" target="_self">Impressum</a>
                </li><li>
                <span class="Divider">|</span>
            </li><li>
                <a href="#Privacy" class="Privacy" target="_self">Datenschutz</a>
            </li>
            </ul>
            <p>
                {ProjectCopyright}
            </p>
        </div>
    </div>
</section>
<section id="Disclaimer">
    <f:format.raw>{Disclaimer}</f:format.raw>
</section>
<section id="Privacy">
    <f:format.raw>{Privacy}</f:format.raw>
</section>