<header class="Page">
    <div class="ContentWrapper">
        <div class="Navigation">
            <div class="Logo">
                <f:format.raw>{ProjectLogo}</f:format.raw>
            </div>
            <nav>
                <f:format.raw>{MainNavigation}</f:format.raw>
            </nav>
        </div>
    </div>
</header>

<main>
    <div class="ContentWrapper">
        <f:render section="content" />
    </div>
</main>

<footer class="Page">
    <div class="ContentWrapper">
        <f:render partial="footer" arguments="{_all}" />
    </div>
</footer>